@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-special {
  background-color: #00015D;
}
.text-special {
  color: #FFD953;
}
.text-special-hover:hover {
  color: #f6e091;
}

.flag-img {
  box-shadow: 0 0 2px #7e7e7e73;
}

.custom-sections-divider {
  position: relative;
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 60px;
  margin-top: 60px;
  background: linear-gradient(0deg, #5E5F99, #00015D);
  border-radius: 24px;
}
.custom-sections-divider::after {
  background-image: url('/Images.png');
  background-size: contain;
  background-repeat: repeat-x;
  content: "";
  position: absolute;
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;
  filter: drop-shadow(2px 4px 6px #221A17) invert(1);
}
.custom-sections-divider-small {
  position: relative;
  display: block;
  width: 100%;
  height: 80px;
  margin-bottom: 50px;
  margin-top: 50px;
  background: linear-gradient(0deg, #5E5F99, #00015D);
  border-radius: 24px;
}

.custom-sections-divider-small::after {
  background-image: url('/ImagesSmall.png');
  background-size: contain;
  background-repeat: repeat-x;
  content: "";
  position: absolute;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  filter: drop-shadow(2px 4px 6px #101828) brightness(2);
}